@page "/create"
@using Rozklad.Repository.Dto.CabinetDto
@using Rozklad.Repository.Dto.TimetableDto
@using System.Net.Http.Json
@using Rozklad.Repository
@inject HttpClient Http
@inject NavigationManager Navigation
<h3>Create</h3>

<EditForm Model="timetable" OnValidSubmit="CreateTimetable">
 <DataAnnotationsValidator />

 <div>
			<div class="row">
				<div class="col-12">
					<ValidationMessage For="() => timetable.TimetableId" />
					<label for="id">TimetableId</label>
				</div>
				<div class="col-12">
					<InputNumber id="id" @bind-Value="timetable.TimetableId"/>
				</div>
			</div>
			
			<div class="row">
				<div class="col-12">
					<ValidationMessage For="() => timetable.LessonNumber" />
					<label for="number">LessonNumber</label>
				</div>
				<div class="col-12">
					<InputNumber id="number" @bind-Value="timetable.LessonNumber"/>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<ValidationMessage For="() => timetable.Day" />
					<label for="day">Day</label>
				</div>
				<div class="col-12">
					<InputNumber id="day" @bind-Value="timetable.Day"/>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<ValidationMessage For="() => timetable.TimeStart" />
					<label for="start">TimeStart</label>
				</div>
				<div class="col-12">
					<InputNumber id="start" @bind-Value="timetable.TimeStart"/>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<ValidationMessage For="() => timetable.TimeEnd" />
					<label for="end">TimeEnd</label>
				</div>
				<div class="col-12">
					<InputNumber id="end" @bind-Value="timetable.TimeEnd"/>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<ValidationMessage For="() => timetable.CabinetName" />
					<label for="brand">Cabinet</label>
				</div>
				<div class="col-12">
					<InputSelect id="brands" @bind-Value="timetable.CabinetName">
						@foreach (var b in cabinet)
						{
							<option value="@b.Name">@b.Name</option>
						}
					</InputSelect>
				</div>
			</div>
			<div class="col-12">
			<button type="submit" class="btn btn-success">Створити</button>
			</div>
	</div>
 </EditForm>

@code {
	TimetableCreateDto timetable = new TimetableCreateDto();
	
	List<CabinetCreateDto> cabinet = new List<CabinetCreateDto>();
	protected override async Task OnInitializedAsync()
	{
		cabinet = await Http.GetFromJsonAsync<List<CabinetCreateDto>>("api/cabinet");
	}

	public async Task CreateTimetable(){
		var result = await Http.PostAsJsonAsync("/timetable", timetable);
		if (result.IsSuccessStatusCode)
		{
			TimetableCreateDto createdTimetable = await result.Content.ReadFromJsonAsync<TimetableCreateDto>();
			Navigation.NavigateTo($"edit/{createdTimetable.TimetableId}");
		}


	}
}

