@page "/"
@using Rozklad.Core
@using Rozklad.Repository;
@using Rozklad.Infrastructure;
@using Rozklad.ClientBlazor.Infrastructure;
@using Rozklad.Repository.Dto;
@using Rozklad.Repository.Dto.TimetableDto
@using Rozklad.Repository.Repositories
@using Syncfusion.Blazor
@using System.Collections



    @inject HttpTimetableService TimetableService
    @inject NavigationManager Navigation

    
<PageTitle>Index</PageTitle>

<h1>Rozklad</h1>

@if(Timetables is not null && Timetables.Any())
{
    <div class="row">
        @foreach (var t in Timetables)
        {
            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <MovieCardComponent Timetable="t"></MovieCardComponent>
            </div>
        }
    </div>
} 
else if(Timetables is not null)
{
    <span Severity="MessageSeverity.Warning">Інформація про запити відсутня...</span>

} else
{
    <SpinnerComponent></SpinnerComponent>
}



@code {
    private IEnumerable<TimetableReadDto> Timetables = null;

      protected override async Task OnInitializedAsync()
       {
         Timetables = await TimetableService.GetTimetableAsync();
       }

    }
}

