@using Rozklad.Core
@using Rozklad.Repository.Dto.TimetableDto
@using RozkladClient.Infrastructure


@inject NavigationManager Navigation
@inject HttpTimetableService timetableService
<h3>TimetableGrid</h3>


<div class="card-body">
        <h5 class="card-title">@TimetableRead.TimetableId</h5>
        <p class="card-text">@((MarkupString)TimetableRead.TimeStart)</p>

        
        <hr />
        

        <SfButton IsPrimary="true" OnClick="@GoToDetailsPage">Деталі</SfButton>
        <SfButton CssClass="e-warning" OnClick="@GoToEditPage">Редагувати</SfButton>       
    </div>

@code {
	[Parameter]
    public TimetableReadDto? TimetableRead { get; set; }

    //private IEnumerable<TimetableReadDto> Timetables = new List<TimetableReadDto>();

    //protected override async Task OnInitializedAsync()
    //{
        //TimetableRead = await timetableService.GetTimetablesAsync();
    //}

    void GoToDetailsPage()
    {
        Navigation.NavigateTo($"/timetables/{TimetableRead.TimetableId}");
    }

    void GoToEditPage()
    {
        Navigation.NavigateTo($"/timetables/edit/{TimetableRead.TimetableId}");
    }

}
