<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                 <th></th>
                 <th>День</th>
                 <th>Дисципліна</th>
                 <th>Кабінет</th>
                 <th>Вчитель</th>      
                 <th>Початок</th>
                 <th>Закінчення</th>
            </tr>
        </thead>
    </table>